<a href="https://colab.research.google.com/github/prekshith1ju/NLP/blob/main/NLP3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
data = pd.read_csv('/content/twitter4000.csv')

In [3]:
data

                                                 twitts  sentiment
0     is bored and wants to watch a movie  any sugge...          0
1              back in miami.  waiting to unboard ship           0
2     @misskpey awwww dnt dis brng bak memoriessss, ...          0
3                     ughhh i am so tired  blahhhhhhhhh          0
4     @mandagoforth me bad! It's funny though. Zacha...          0
...                                                 ...        ...
3995                                  i just graduated           1
3996          Templating works; it all has to be done            1
3997                   mommy just brought me starbucks           1
3998  @omarepps watching you on a House re-run...lov...          1
3999  Thanks for trying to make me smile I'll make y...          1

[4000 rows x 2 columns]

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   twitts     4000 non-null   object
 1   sentiment  4000 non-null   int64
dtypes: int64(1), object(1)
memory usage: 62.6+ KB

In [5]:
data.count()

twitts       4000
sentiment    4000
dtype: int64

In [6]:
data['sentiment'].value_counts()

sentiment
0    2000
1    2000
Name: count, dtype: int64

In [10]:
data.head()

                                              twitts  sentiment
0  is bored and wants to watch a movie  any sugge...          0
1           back in miami.  waiting to unboard ship           0
2  @misskpey awwww dnt dis brng bak memoriessss, ...          0
3                  ughhh i am so tired  blahhhhhhhhh          0
4  @mandagoforth me bad! It's funny though. Zacha...          0

In [11]:
data.tail()

                                                 twitts  sentiment
3995                                  i just graduated           1
3996          Templating works; it all has to be done            1
3997                   mommy just brought me starbucks           1
3998  @omarepps watching you on a House re-run...lov...          1
3999  Thanks for trying to make me smile I'll make y...          1

In [12]:
pattern = r'\s'
data['twitts'].apply(lambda x: re.sub(pattern, '', x))

0             isboredandwantstowatchamovieanysuggestions?
1                        backinmiami.waitingtounboardship
2       @misskpeyawwwwdntdisbrngbakmemoriessss,IthnkI'...
3                             ughhhiamsotiredblahhhhhhhhh
4       @mandagoforthmebad!It'sfunnythough.ZacharyQuin...
                              ...
3995                                       ijustgraduated
3996                     Templatingworks;itallhastobedone
3997                          mommyjustbroughtmestarbucks
3998        @omareppswatchingyouonaHousere-run...lovinit.
3999    ThanksfortryingtomakemesmileI'llmakeyour18thsp...
Name: twitts, Length: 4000, dtype: object

In [19]:
pattern = r'\s'
data['char_count']= data['twitts'].apply(lambda x: len(re.sub(pattern, '', x)))

In [20]:
data

,twitts,sentiment,cahr_count,char_count
0,is bored and wants to watch a movie any sugge...,0,isboredandwantstowatchamovieanysuggestions?,43
1,back in miami. waiting to unboard ship,0,backinmiami.waitingtounboardship,32
2,"@misskpey awwww dnt dis brng bak memoriessss, ...",0,"@misskpeyawwwwdntdisbrngbakmemoriessss,IthnkI'...",54
3,ughhh i am so tired blahhhhhhhhh,0,ughhhiamsotiredblahhhhhhhhh,27
4,@mandagoforth me bad! It's funny though. Zacha...,0,@mandagoforthmebad!It'sfunnythough.ZacharyQuin...,116
...,...,...,...,...
3995,i just graduated,1,ijustgraduated,14
3996,Templating works; it all has to be done,1,Templatingworks;itallhastobedone,32
3997,mommy just brought me starbucks,1,mommyjustbroughtmestarbucks,27
3998,@omarepps watching you on a House re-run...lov...,1,@omareppswatchingyouonaHousere-run...lovinit.,45
3999,Thanks for trying to make me smile I'll make y...,1,ThanksfortryingtomakemesmileI'llmakeyour18thsp...,63

In [21]:
data['word_count']= data['twitts'].apply(lambda x: len(x.split()))

In [22]:
data

,twitts,sentiment,cahr_count,char_count,word_count
0,is bored and wants to watch a movie any sugge...,0,isboredandwantstowatchamovieanysuggestions?,43,10
1,back in miami. waiting to unboard ship,0,backinmiami.waitingtounboardship,32,7
2,"@misskpey awwww dnt dis brng bak memoriessss, ...",0,"@misskpeyawwwwdntdisbrngbakmemoriessss,IthnkI'...",54,12
3,ughhh i am so tired blahhhhhhhhh,0,ughhhiamsotiredblahhhhhhhhh,27,6
4,@mandagoforth me bad! It's funny though. Zacha...,0,@mandagoforthmebad!It'sfunnythough.ZacharyQuin...,116,26
...,...,...,...,...,...
3995,i just graduated,1,ijustgraduated,14,3
3996,Templating works; it all has to be done,1,Templatingworks;itallhastobedone,32,8
3997,mommy just brought me starbucks,1,mommyjustbroughtmestarbucks,27,5
3998,@omarepps watching you on a House re-run...lov...,1,@omareppswatchingyouonaHousere-run...lovinit.,45,8
3999,Thanks for trying to make me smile I'll make y...,1,ThanksfortryingtomakemesmileI'llmakeyour18thsp...,63,16

In [23]:
data['avg_word_length']=data['char_count']/data['word_count']

In [24]:
data

,twitts,sentiment,cahr_count,char_count,word_count,avg_word_length
0,is bored and wants to watch a movie any sugge...,0,isboredandwantstowatchamovieanysuggestions?,43,10,4.300000
1,back in miami. waiting to unboard ship,0,backinmiami.waitingtounboardship,32,7,4.571429
2,"@misskpey awwww dnt dis brng bak memoriessss, ...",0,"@misskpeyawwwwdntdisbrngbakmemoriessss,IthnkI'...",54,12,4.500000
3,ughhh i am so tired blahhhhhhhhh,0,ughhhiamsotiredblahhhhhhhhh,27,6,4.500000
4,@mandagoforth me bad! It's funny though. Zacha...,0,@mandagoforthmebad!It'sfunnythough.ZacharyQuin...,116,26,4.461538
...,...,...,...,...,...,...
3995,i just graduated,1,ijustgraduated,14,3,4.666667
3996,Templating works; it all has to be done,1,Templatingworks;itallhastobedone,32,8,4.000000
3997,mommy just brought me starbucks,1,mommyjustbroughtmestarbucks,27,5,5.400000
3998,@omarepps watching you on a House re-run...lov...,1,@omareppswatchingyouonaHousere-run...lovinit.,45,8,5.625000
3999,Thanks for trying to make me smile I'll make y...,1,ThanksfortryingtomakemesmileI'llmakeyour18thsp...,63,16,3.937500